body { padding-top: 70px !important; }

.no-pad {
    padding: 0 !important;
}

.nopad-right {
    padding-right: 0 !important;
}

.nopad-left {
    padding-left: 0 !important;
}

.white-box {
    border: 1px solid #f0f0f0;
    background-color: #fff;
}

.login-box {
    float: none;
    margin: 100 auto;
    h1 {
        text-align: center;
    }
    .article-content {
        float: none;
    }
}
