
.icon-mail-alt:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-question:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-rss:before { content: '\e807'; } /* '' */
.icon-down-big:before { content: '\e808'; } /* '' */
.icon-up-big:before { content: '\e809'; } /* '' */
.icon-eye:before { content: '\e80a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e80b'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e80c'; } /* '' */
.icon-sort-down:before { content: '\e80d'; } /* '' */
.icon-sort-up:before { content: '\e80e'; } /* '' */
.icon-award:before { content: '\e80f'; } /* '' */
.icon-picture:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-reply:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e81b'; } /* '' */
.icon-ok:before { content: '\e81c'; } /* '' */
.icon-cancel:before { content: '\e81d'; } /* '' */
.icon-doc-text-inv:before { content: '\e81f'; } /* '' */
.icon-down-open:before { content: '\e822'; } /* '' */
.icon-up-open:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e82e'; } /* '' */
.icon-pencil:before { content: '\e832'; } /* '' */
.icon-plus:before { content: '\e835'; } /* '' */
.icon-play-circled2:before { content: '\e836'; } /* '' */
.icon-stumbleupon:before { content: '\e837'; } /* '' */
.icon-facebook-1:before { content: '\e83e'; } /* '' */
.icon-th:before { content: '\e842'; } /* '' */
.icon-reddit:before { content: '\e845'; } /* '' */
.icon-menu:before { content: '\e846'; } /* '' */
.icon-twitter-1:before { content: '\e847'; } /* '' */
.icon-gplus:before { content: '\e848'; } /* '' */
.icon-youtube:before { content: '\e849'; } /* '' */
.icon-cart:before { content: '\e84a'; } /* '' */
.icon-calendar-inv:before { content: '\e84c'; } /* '' */